.nav-bar-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 8px;
}
.title-with-score-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 80%;
  max-width: 1000px;
}
.logo-and-title-container {
  display: flex;
  align-items: center;
}
.emoji-logo {
  width: 49px;
}
.title {
  color: white;
  font-family: roboto;
  font-size: 24px;
}
.scores-container {
  display: flex;
}
.score {
  color: white;
  font-family: roboto;
  font-size: 24px;
  margin-left: 32px;
  font-weight: 500;
}
